
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 700px;
}

h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #2C3E50;
}

h2 {
    font-size: 24px;
    margin-top: 25px;
    color: #34495E;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #7F8C8D;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}


.button {
    display: block;
    width: 100%;
    padding: 14px 0;
    background-color: #00060b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #323232;
    transform: scale(1.05);
}


.image-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.image-card {
    text-align: center;
}

.image-card img {
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
    height: 150px;
}

.image-card img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.nama{
    display: block;
    width: 100%;
    padding: 14px 0;
    background-color: #0289f7;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
}
